@use '../../scss/abstracts/' as *;

.form {
	display: grid;

	&__wrapper {
		background-color: var(--clr-primary-100);
		padding: 3rem;
		border-radius: 0.5rem;
		font-family: var(--ff-primary);
		width: min(500px, 100%);
		box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
			rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

		.login-error {
			color: red;
			font-size: 1.05rem;
			margin-bottom: 2rem;
			text-align: center;

			&::before,
			&::after {
				content: '\26A0';
				margin-inline: 0.5rem;
				font-size: 1.05rem;
			}
		}

		.switch-form {
			@include flex();
			gap: 0.5rem;

			button {
				background: transparent;
				border: none;
				color: var(--clr-secondary-500);
				font-weight: var(--fw-bold);
				&:hover {
					color: var(--clr-secondary-200);
				}
			}
		}
	}

	&__errors-error {
		color: var(--clr-secondary-500);
	}
}
