.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: transform, opacity, visibility, 500ms ease;
	isolation: isolate;
	z-index: 100;

	&-overlay {
		position: fixed;
		inset: -100vmax;
		background: rgba(0, 0, 0, 0.65);
		transition: opacity, visibility, 500ms ease;
		z-index: 99;

		&:not(.open) {
			opacity: 0;
			visibility: hidden;
		}
	}

	// &.open::before {
	// 	box-shadow: 0px -100vmax 0px 1000vmax rgba(0, 0, 0, 0.65),
	// 		rgba(0, 0, 0, 0.65) 0px 3px 8px;
	// 	content: '';
	// }
	&:not(.open) {
		opacity: 0;
		transform: translate(-50%, calc(-50% + 1rem));
		visibility: hidden;
	}
}
