@use '../../scss/abstracts/' as *;

.user-menu {
	position: fixed;
	top: 1rem;
	right: 1rem;
	display: grid;
	animation: expand 500ms ease forwards;

	&-icon {
		background: {
			position: center;
			size: cover;
		}
		border-radius: 50%;
		border: none;
		width: 32px;
		margin-left: auto;
		aspect-ratio: 1;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}

	&-options {
		display: grid;
		gap: 0.75rem;
		overflow: hidden;

		&-wrapper {
			display: grid;
			grid-template-rows: 0fr;
			transition: grid-template-rows, visibility, opacity, 250ms ease;
			background: var(--clr-neutral-100);
			padding: 1.5rem;
			margin-top: 1rem;
			border-radius: 0.25rem;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

			&.open {
				grid-template-rows: 1fr;
			}
			&:not(.open) {
				visibility: hidden;
				opacity: 0;
			}
		}
	}

	.edit-modal {
		background: var(--clr-neutral-100);
		padding: 3rem;
		width: min(600px, 100%);

		padding-bottom: 0rem;
		border-radius: 0.5rem;
		font-family: var(--ff-primary);

		img {
			border-radius: 50%;
		}

		&-avatar-wrapper {
			@include flex($align: center);
			gap: 1rem;

			label {
				margin: 0;
				flex: 1;
			}
		}

		&-buttons {
			@include flex(space-between, center);
			margin-block: 2rem;
		}
	}
}
