@use '../../scss/abstracts/' as *;

.comment-section {
	--content-gap: 1rem;
	display: grid;
	gap: var(--content-gap);
	font-family: var(--ff-primary);
	width: min(100%, 700px);

	.comment {
		@include flex($align: start);
		gap: var(--content-gap);
		background: var(--clr-neutral-100);
		padding: 1.5rem;
		border-radius: 0.5rem;
		box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;

		.mention {
			color: var(--clr-primary-500);
			font-weight: var(--fw-bold);
			cursor: pointer;
		}

		&-upvotes {
			@include flex($direction: column);
			background: var(--clr-primary-200);
			padding: 0.5rem 0.75rem;
			border-radius: 0.25rem;
			text-align: center;

			&-button {
				background: transparent;
				color: var(--clr-primary-300);
				font-size: 1.5rem;
				font-weight: var(--fw-bold);
				border: none;

				&:hover,
				&[data-active='true'] {
					color: var(--clr-primary-500);
				}
			}
		}

		&-content-wrapper {
			flex: 1;
		}

		&-avatar {
			border-radius: 50%;
		}
		&-username span {
			background: var(--clr-primary-500);
			font-weight: var(--fw-regular);
			font-size: 0.75rem;
			padding: 0.15rem 0.3rem;
			border-radius: 0.25rem;
			color: var(--clr-neutral-100);
			margin-left: 0.5rem;
		}

		&-upper {
			@include flex(space-between, center);
			margin-bottom: var(--content-gap);

			div {
				@include flex($align: center);
				gap: var(--content-gap);
			}
		}
		&-content {
			color: var(--clr-accent-500);
			word-break: break-word;
		}

		&-form {
			@include flex($align: start);
			gap: 1rem;
			background: var(--clr-neutral-100);
			padding: 1rem;
			border-radius: 0.5rem;

			&-content {
				flex: 1;
				width: 100%;
				padding: 0.5rem;
				border-radius: 0.35rem;
				min-height: 125px;
				outline: none;
				border: 1px solid var(--clr-primary-200);
				resize: vertical;
				max-height: 500px;

				&:focus-visible {
					border-color: var(--clr-primary-300);
				}
			}
		}

		&-reply {
			flex: 1;

			&-wrapper {
				@include flex();

				.line {
					width: 3px;
					min-height: 0;
					margin-inline: 2rem;
					border-radius: 1rem;
					background: var(--clr-primary-300);
					opacity: 0.5;
					display: inline-block;
				}
			}
		}
	}

	.delete-modal {
		padding: 2rem;
		border-radius: 0.5rem;
		background: var(--clr-neutral-100);
		width: min(400px, 100% - 1rem);
		h2 {
			color: var(--clr-accent-500);
			font-weight: var(--fw-medium);
			font-size: 1.5rem;
		}

		p {
			margin-block: 1.5rem;
			color: var(--clr-accent-200);
			font-size: 1.1rem;
		}
		.buttons {
			@include flex(space-between, center);

			button {
				text-transform: uppercase;
			}
		}
	}
}
